@model IEnumerable<mvcLibrary_ICE.Models.BookType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<form method="get" asp-action="Index" class="search-form">
    <div class="form-group">
        <label for="searchString" class="form-label">Search Book</label>
        <input type="text" id="searchString" name="searchString" class="form-control" placeholder="Search by Title" value="@ViewData["Index"]" /> @* Search input field *@
    </div>
    <br />
    <button type="submit" class="btn btn-search">Search</button> |
    <a asp-action="Index" class="btn btn-search-2">Clear</a>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TypeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TypeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TypeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
